# MultiFrame Series & DataFrame

In [1]:
import numpy as np
import pandas as pd

## Series is 1D & DataFrame are 2D objects 
#### But why ?
#### And what exactly is index ?

In [2]:
# Can we have multiple index let's try :
index_val = [('A.I & M.L',2024),('A.I & M.L',2025),('A.I & M.L',2026),('A.I & M.L',2027),('A.I & M.L',2028),('A.I & M.L',2029)]
# 
a= pd.Series([1,2,3,4,5,6],index=index_val)
# a[('a.i&m.l',2026)]
a

(A.I & M.L, 2024)    1
(A.I & M.L, 2025)    2
(A.I & M.L, 2026)    3
(A.I & M.L, 2027)    4
(A.I & M.L, 2028)    5
(A.I & M.L, 2029)    6
dtype: int64

# Correct way to create Multi Index Series 
multiindex series is also known as Hierarchical indexing.

multiple index levels within a single index

### How to create multiindex object 

1. pd.MultiIndex.from_tuples()
2. pd.MultiIndex.from_product()

In [26]:
index_val = [('A.I & M.L',2024),('A.I & M.L',2025),('A.I & M.L',2026),('A.I & M.L',2027),('A.I & M.L',2028),('CSE',2024),('CSE',2025),('CSE',2026)]
multiindex = pd.MultiIndex.from_tuples(index_val)
multiindex

MultiIndex([('A.I & M.L', 2024),
            ('A.I & M.L', 2025),
            ('A.I & M.L', 2026),
            ('A.I & M.L', 2027),
            ('A.I & M.L', 2028),
            (      'CSE', 2024),
            (      'CSE', 2025),
            (      'CSE', 2026)],
           )

In [4]:
multiindex.levels # decouple krdiya

FrozenList([['A.I & M.L', 'CSE'], [2024, 2025, 2026, 2027, 2028]])

In [5]:
s=pd.Series([1,2,3,4,5,6,7,8],index=multiindex) # Multiindex Series 
s

A.I & M.L  2024    1
           2025    2
           2026    3
           2027    4
           2028    5
CSE        2024    6
           2025    7
           2026    8
dtype: int64

In [6]:
multiindex.levels[0]
multiindex.levels[1]

Int64Index([2024, 2025, 2026, 2027, 2028], dtype='int64')

In [7]:
pd.MultiIndex.from_product([[('A.I & M.L'),('CSE')],[2022,2023,2024,2025]])

MultiIndex([('A.I & M.L', 2022),
            ('A.I & M.L', 2023),
            ('A.I & M.L', 2024),
            ('A.I & M.L', 2025),
            (      'CSE', 2022),
            (      'CSE', 2023),
            (      'CSE', 2024),
            (      'CSE', 2025)],
           )

Benefits of Multi Index Series

In [8]:
# how to fetch items from such a series 

s['A.I & M.L',2024]
s['A.I & M.L']

2024    1
2025    2
2026    3
2027    4
2028    5
dtype: int64

### unstack()   
this function will convert a multiindex series into Dataframe

In [9]:
s.unstack()

           2024  2025  2026  2027  2028
A.I & M.L   1.0   2.0   3.0   4.0   5.0
CSE         6.0   7.0   8.0   NaN   NaN

## stack() 
For converting a Dataframe into  a Multi-Index Series

In [10]:
temp=s.unstack()
temp.stack()

A.I & M.L  2024    1.0
           2025    2.0
           2026    3.0
           2027    4.0
           2028    5.0
CSE        2024    6.0
           2025    7.0
           2026    8.0
dtype: float64

### Qs. why we doing this hardwork jbh ki hum vo info ko easily dataframe mai represent karsakte hai so why to use multindex series ? why to use it ? Answer this Qs.

### Answer: 
Series is 1d object  so humne kya kiya series use krke 2d data display karaya, Higher dimension data ko lower dimension obj mai display karaya, 
What if 3d data ko 2d mai display karade yatou 10d data etc ko 2d mai display karadete hai 
that's the idea behind multi index series , isme kitne bhi bade dimension ka data hoo hum represent karaskte usko 2d mai 

#### kitne bhi higher dimension data ko hum isme display karaskte that's the power of Multi index series

## Multi Index Dataframe

In [11]:

branch_df = pd.DataFrame(
[
    [10,20],
    [30,14],
    [15,16],
    [17,18],
    [19,30],
    [11,112],
    [13,14],
    [15,16]
],
index=multiindex,
columns=['avg pack','students']
)

branch_df

                avg pack  students
A.I & M.L 2024        10        20
          2025        30        14
          2026        15        16
          2027        17        18
          2028        19        30
CSE       2024        11       112
          2025        13        14
          2026        15        16

In [12]:
branch_df.loc['CSE']

      avg pack  students
2024        11       112
2025        13        14
2026        15        16

In [13]:
branch_df['avg pack']

A.I & M.L  2024    10
           2025    30
           2026    15
           2027    17
           2028    19
CSE        2024    11
           2025    13
           2026    15
Name: avg pack, dtype: int64

In [14]:
branch_df['students']

A.I & M.L  2024     20
           2025     14
           2026     16
           2027     18
           2028     30
CSE        2024    112
           2025     14
           2026     16
Name: students, dtype: int64

In [18]:
branch_df2 = pd.DataFrame(
[
    [10,2,0,0],
    [3,4,0,0],
    [9,9,0,0],
    [9,9,0,0]
],
index=[2022,2023,2024,2025],
columns=pd.MultiIndex.from_product([['Banglore','Mumbai'],['avg_package','students']])
)

branch_df2

        Banglore               Mumbai
     avg_package students avg_package students
2022          10        2           0        0
2023           3        4           0        0
2024           9        9           0        0
2025           9        9           0        0

In [22]:
branch_df2['Banglore']
branch_df2['Banglore']['avg_package']
branch_df2.loc[2022]

Banglore  avg_package    10
          students        2
Mumbai    avg_package     0
          students        0
Name: 2022, dtype: int64

In [25]:
# Multindex df in terms of both row & index


branch_df3 = pd.DataFrame(
[
    [10,2,0,0],
    [3,4,0,0],
    [9,9,0,0],
    [9,9,0,0],
    [9,9,0,0],
    [9,9,0,0],
    [9,9,0,0],
    [9,9,0,0]
],
index=multiindex,
columns=pd.MultiIndex.from_product([['Banglore','Mumbai'],['avg_package','students']])
)

branch_df3

                  Banglore               Mumbai
               avg_package students avg_package students
A.I & M.L 2024          10        2           0        0
          2025           3        4           0        0
          2026           9        9           0        0
          2027           9        9           0        0
          2028           9        9           0        0
CSE       2024           9        9           0        0
          2025           9        9           0        0
          2026           9        9           0        0

## Stacking & Unstacking

In [29]:
# unstack -  fir year jo row hai vo column bnjayega 

branch_df.unstack()

          avg pack                         students
              2024  2025  2026  2027  2028     2024  2025  2026  2027  2028
A.I & M.L     10.0  30.0  15.0  17.0  19.0     20.0  14.0  16.0  18.0  30.0
CSE           11.0  13.0  15.0   NaN   NaN    112.0  14.0  16.0   NaN   NaN

In [35]:
# vps unstack kiye tou 
branch_df.unstack().unstack()

avg pack  2024  A.I & M.L     10.0
                CSE           11.0
          2025  A.I & M.L     30.0
                CSE           13.0
          2026  A.I & M.L     15.0
                CSE           15.0
          2027  A.I & M.L     17.0
                CSE            NaN
          2028  A.I & M.L     19.0
                CSE            NaN
students  2024  A.I & M.L     20.0
                CSE          112.0
          2025  A.I & M.L     14.0
                CSE           14.0
          2026  A.I & M.L     16.0
                CSE           16.0
          2027  A.I & M.L     18.0
                CSE            NaN
          2028  A.I & M.L     30.0
                CSE            NaN
dtype: float64

In [38]:
branch_df.unstack().stack()

                avg pack  students
A.I & M.L 2024      10.0      20.0
          2025      30.0      14.0
          2026      15.0      16.0
          2027      17.0      18.0
          2028      19.0      30.0
CSE       2024      11.0     112.0
          2025      13.0      14.0
          2026      15.0      16.0